@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  margin: 0;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  background-color: #eeeeee;
}

.container {
  width: 500px;
  max-width: 100%;
  background-color: white;
  padding: 1rem;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.images-center {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 0;
  max-width: 18rem;
  width: 100%;
}

.form-group {
  display: flex;
  margin-bottom: 18px;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
}

.form-group .phone-number {
  border: 1px solid #fbe1e1;
  height: 48px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 9px;
}

.form-group .phone-number:focus {
  outline: none;
}

.form-group textarea {
  border: 1px solid #fbe1e1;
  border-radius: 9px;
  padding: 15px;
  margin-top: 10px;
}

.form-group textarea:focus {
  outline: none;
}

.btn-send {
  display: block;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-radius: 9px;
  border: none;
  color: white;
  background-color: #25d2aa;
  font-size: 14px;
  font-weight: 600;
  margin-top: 2rem;
}

button:hover {
  background-color: #23b391;
}

.btn-disabled {
  visibility: hidden;
}
